.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='/') Redis Address Book
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li: a(href='/addresses') Address Book
          li: a(href='/addresses/new') New Address
          li
            form(method='post', action='/logout')
              input(type='hidden', name='_method', value='delete')
              button.btn.btn-danger= user.email
        else
          li: a(href='/register') Register
          li: a(href='/login') Login

