extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Home
    .bs-component
      .jumbotron
        h1 Address Book
        p
          | Welcome to Address Book!
        p
          a.btn.btn-primary.btn-lg(href='#') About

block scripts
  script(src='/js/user/home.js')

